<footer class="footer" style="background-color: #1d201f;">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link">
          TRICYCLE ©
          <script>
            document.write(new Date().getFullYear())
          </script>
        </a>
      </li>
    </ul>
    <div class="copyright">
      <i>
        wrash-tech

      </i>
    </div>
  </div>
</footer>