<nav class="navbar navbar-expand-md mb-5" style="background-color: #ffd902;">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><img src="/assets/img/keken.png" alt="" style="width:100px;
    height:50px;"></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <img src="/assets/img/keken.png" alt="" style="width:100px;
          height:50px;">
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">TRICYCLE REGISTRATION WEBSITE </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>